$secondColor: #012674;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background-image: url(../images/header-bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;

  nav {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 1.5rem;
      letter-spacing: 0.4em;
      font-weight: 400;
      margin-left: 5em;
      span {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .burger {
      margin-right: 5em;
      cursor: pointer;
      &:hover {
        transform: scale(1.5);
      }
    }
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    font-size: 4.5rem;
    text-transform: uppercase;
  }
}

.list-menu-wrapper-show,
.list-menu-wrapper {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20%;
  background-color: white;

  .side-menu-show {
    height: 100vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .close {
      cursor: pointer;
      position: absolute;
      color: $secondColor;
      top: 1em;
      right: 1em;

      &:hover {
        transform: scale(1.5);
      }
    }
    a {
      text-decoration: none;
      color: $secondColor;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;

      &:hover {
        border-bottom: 0.1em solid $secondColor;
      }
    }
  }
}

.list-menu-wrapper {
  transform: translateX(100%);
  transition: transform 1s ease-in;
}

.list-menu-wrapper-show {
  transform: translateX(0%);
  transition: transform 1s ease-in;
}

.gallery {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $secondColor;
  background-attachment: fixed;
  color: white;
  .pictures {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    img {
      width: 100%;
    }
  }
}

.content {
  background-image: url(../images/middle-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
  }
  p {
    color: white;
    font-size: 1.5rem;
    padding: 0em 10em;
    margin-top: 4em;
  }
}

.register-part {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .register-btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-size: 3rem;
    padding: 1em 2em;
    border-radius: 0.5em;
    &:hover {
      transform: scale(1.2);
    }
  }
  .links {
    width: 100%;
    margin: 7em auto 0 auto;
    display: flex;
    justify-content: center;
    a {
      margin-right: 2em;
    }
    .youtube {
      margin-right: 0;
    }
    img {
      width: 3em;
      height: 3em;
    }
  }
}

footer {
  width: 100%;
  height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  align-items: center;

  .left,
  .right {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.5em;
  }
}
/*laptops and desctops*/
@media only screen and (max-width: 1134px) {
  header {
    h1 {
      font-size: 4rem;
    }
  }

  .list-menu-wrapper,
  .list-menu-wrapper-show {
    width: 30%;
  }

  .content {
    h2 {
      font-size: 3rem;
    }
    p {
      padding: 0em 5em;
    }
  }
  .register-part {
    .register-btn {
      font-size: 2.5rem;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  footer {
    .left,
    .right {
      font-size: 2.5rem;
    }
  }
}
/*landscape tablets*/
@media only screen and (max-width: 992px) {
  header {
    nav {
      .logo {
        margin-left: 4em;
      }
      .burger {
        margin-right: 4em;
      }
    }
  }

  .register-part {
    .register-btn {
      font-size: 2.2rem;
    }
  }
}
/*portrait tablets and large phones*/
@media only screen and (max-width: 768px) {
  header {
    h1 {
      font-size: 3.5rem;
    }
    nav {
      .logo {
        margin-left: 3em;
      }
      .burger {
        margin-right: 3em;
      }
    }
  }
  .list-menu-wrapper,
  .list-menu-wrapper-show {
    width: 35%;
  }
  .content {
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
      padding: 0em 4em;
    }
  }
}
/*phones*/
@media only screen and (max-width: 600px) {
  header {
    h1 {
      font-size: 3rem;
    }
  }
  .list-menu-wrapper,
  .list-menu-wrapper-show {
    width: 40%;
  }
  .gallery {
    .pictures {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: auto auto;
      gap: 1em;
    }
  }
  .content {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
      padding: 0 3em;
    }
  }
  .register-part {
    .register-btn {
      font-size: 2rem;
    }
  }
  footer {
    h1 {
      font-size: 2.2rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  header {
    nav {
      .logo {
        margin-left: 2em;
      }
      .burger {
        margin-right: 2em;
      }
      h1 {
        word-spacing: parent-width;
        font-size: 2.5rem;
      }
    }
  }
  .content {
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.1rem;
      padding: 0 4em;
    }
  }
}
